<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-title text-center"><h4>Login</h4></div>
                    <div class="card-text">
                        <form>
                            <div class="form-group">
                                <input type="email" placeholder="Registered Email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="Password" placeholder="Password" name="password" class="form-control" required>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-warning btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>