<app-signup></app-signup>
<div style="height: 100px;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img style="width: 330px; margin-left: calc(75% - 330px); margin-bottom: 0;" src="/assets/What-Is-Scribe-Image.png">
        </div>
        <div class="col-md-4 m-5 m-md-0" style="margin-top: 0 !important;">
            <h2 class="my-5">What's Scribe?</h2>
            <h6 class="my-1">Scribe is a social networking platform where you can connect with people you know and share your thoughts in Scribes! Interact with friends, Comment on other Scribes, Broaden your friends circle, Expand your world!<br><br>But the best part is... it's free!</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="offset-sm-2 col-sm-8 text-center p-5">
            <h1>Contact Us</h1>
            <div class="row">
                <div class="offset-sm-2 col-sm-4 text-left vertical-divider mt-5 px-5">
                    +91 8087001500<br/>
                    karanshah0206@outlook.com<br/>
                    Karan Shah<br/>
                  </div>
            
                <div class="col-sm-6 text-left py-5 px-5">
                    1st Floor, Harihans Building<br/>
                    20/1, Punyai Nagar,<br/>
                    Dhankawdi, Balaji Nagar,<br/>
                    Pune, India - 411037<br/>
                </div>
            </div>
        </div>
    </div>
</div>