.background {
    background-color: #2ec7f6;
}

.background-image {
    background-image: url('/assets/Sign-Up-BG-Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}